.select-wrapper {
  width: 100%;
  height: 120px;
  display: flex;
  /* border: solid; */
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.select-label {
  height: 30px;
  width: 100%;
  /* border: solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.8rem;
  font-size: 1.2rem;
  color: black;
}

.rotulo {
  height: 100%;
  width: 45%;
  /* border: solid; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.enlace {
  height: 100%;
  width: 45%;
  padding: none;
  /* border: solid; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: normal;
  cursor: pointer;
}

.select-field {
  width: 100%;
  height: 60px;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  background-color: var(--secondary-lighter-25);
  /* border-bottom: 1px solid var(--primary-dark); */
  font-size: 1.3rem;
}
