.request-row:hover {
  background-color: blueviolet;
}

@media (min-width: 421px) {
  .faja-de-titulos {
    width: 100%;
    height: 80px;
    /* border: 1px solid red; */
    background-color: var(--primary);
    color: var(--primary-lighter-25);
  }

  .titulos {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tabla-de-solicitudes {
    width: 90%;
    height: 400px;
    overflow-y: auto;
  }

  .request-row {
    width: 100%;
    height: 80px;
    display: flex;
    border-bottom: 1px solid red;
    justify-content: space-between;
    align-items: center;
  }
}
